/cmake-build-debug
/CMakeFiles
/.idea
/projektPROI2_autogen
/cmake_install.cmake
/CMakeCache.txt
/MakeFile
/projektPROI2
/curlpp-0.8.1
/json_spirit_v4.08
./CPackConfig.cmake
./CPackSourceConfig.cmake
/json_spirit_v4.08/
/backend/.env
/CPackSourceConfig.cmake
/CPackConfig.cmake