/cmake-build-debug
/CMakeFiles
/.idea
/projektPROI2_autogen
/cmake_install.cmake
/CMakeCache.txt
/MakeFile
/projektPROI2
/curlpp-0.8.1
/json_spirit_v4.08
./CPackConfig.cmake
./CPackSourceConfig.cmake
/json_spirit_v4.08/
/backend/.env
/CPackSourceConfig.cmake
/CPackConfig.cmake
ui/libprojektPROI2_ui.a
ui/cmake_install.cmake
ui/Makefile
ui/CMakeFiles
ui/projektPROI2_ui_autogen
/ui/projektPROI2_ui_autogen/
tests/lib
.vscode
/CTestTestfile.cmake
/tests/CTestTestfile.cmake
/tests/CMakeFiles/
/Testing/
/lib/
/bin/
/tests/tests_run
/tests/Makefile
/tests/cmake_install.cmake
/tests/tests_run_autogen/
/orders/projektPROI2_order_autogen/
/orders/cmake_install.cmake
/orders/libprojektPROI2_order.a
/meals/projektPROI2_meal_autogen/
/meals/cmake_install.cmake
/meals/libprojektPROI2_meal.a
/employees/projektPROI2_employee_autogen/
/employees/cmake_install.cmake
/employees/libprojektPROI2_employee.a
/client/cmake_install.cmake
